html, body, #root, #root .ui-provider {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body .ui-provider {
    display: none;
}

table.table {
    border-collapse: collapse;
    width: 100%;
}
table.table td, table.table th {
    border: thin solid silver;
    padding: .3em;
}